///Inicialización de todo el documento
/// 
:root{ 
    --fk-color-border-focus: #c85c59!important; //si se usa el mixim color() no funciona
    --fk-bg-button: #c5ccca!important;
    --fk-color-button: #030303!important;
    --mdb-accordion-active-color: #c85c59!important;
       
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --fk-color-border-focus: color(resaltado)!important;
}

///Inicialización de HTML
body {
    background-color: #ffffff;
    font-size: size(md) !important;
}

main {
    @include gridposition(repeat(3, min-content, 1fr), 1fr, 0rem);
    margin-bottom: 1rem;
}

.routerLink {
    text-decoration: none;
    text-align: center;
    color: color(texto-claro-aux);
}


///Container principal