///Inicialización de todo el documento
/// 
:root{ 
    --fk-color-border-focus: #c85c59!important; //si se usa el mixim color() no funciona
    --fk-bg-button: #c5ccca!important;
    --fk-color-button: #030303!important;
    --mdb-accordion-active-color: #c85c59!important;      
    --vc-gray-500: #5d5c5d!important; 
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --fk-color-border-focus: color(resaltado)!important;
}

///Inicialización de HTML
body {
    background-color: #ffffff;
    font-size: size(md) !important;
    margin: 0 auto;
    h1, h2, h3, h4{
        font-family: font-title;
    }

}

main {
    @include gridposition(repeat(3, min-content, 1fr), 1fr, 0rem);
    &:not(#home) {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

.routerLink {
    text-decoration: none;
    text-align: center;
    color: color(texto-claro-aux);
}


.resaltado{
    font-weight: weight(bold);
    @include logo(lg);
}