/*diferenciar entre tamaños*/
///mixin responsive para diferentes tamaños
///@example
/// .footer{
///     @include resposive(small){
///        font-size: 1rem;
///     }
///    @include resposive(tablet){
///       font-size: 1.5rem;
///     }
/// }
///@param {string} $breakpoint -tamaño de la pantalla

@mixin responsive($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: 426px) {
            @content;
        }
    }
    @else if $breakpoint == small {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint ==tablet {
        @media (max-width: 992px) {
            @content;
        }
    }

    @else if $breakpoint ==desktop {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @else if $breakpoint ==large {
        @media (min-width: 1201px) {
            @content;
        }
    }
}
/*posicionar en flex*/
///mixin de posicionamiento en flex
///@example
/// .footer{
///     @include flexposition();
/// }
///@param {string} $direction [row] -direccion de los elementos
///@param {string} $justifycontenet [cneter] -justificacion de los elementos
///@param {string} $alignitem [center] -alineacion de los elementos
@mixin flexposition($direction: row, $justifycontenet: center, $alignitem: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifycontenet;
    align-items: $alignitem;
}

/*posicionar en flex*/
///mixin de posicionamiento en flex
///@example
/// .footer{
///     @include gridposition();
/// }
///@param {string} $direction [row] -direccion de los elementos
///@param {string} $justifycontenet [cneter] -justificacion de los elementos
///@param {string} $alignitem [center] -alineacion de los elementos
@mixin gridposition($rows: 1fr, $columns: 1fr, $gap: 1rem) {
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
    grid-gap: $gap;
}

/*placeholder para poner sombra y ampliar en hover*/
///mixin para poner sombra y ampliar al hacer hover
///@example
/// .card{
///    @extend %sombra;
/// }
%sombra{
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

/*funcion que cambia el color de la letra en funcion del color del texto*/
///funcion que cambia el color de la letra en funcion del color del texto
///@example
/// .card{
///   color: color-texto($background-color);
/// }
///@param {string} $color -color del background
///@return {color} -color del texto
@function color-texto($color) {
    @if (lightness($color) >50) {
        @return color(texto-oscuro);
    } @else {
        @return white;
    }
  }

/*posicionar una imagen en un contenedor*/
///mixin de posicionamiento una imagen en un contenedor
///@example
/// .footer{
///     @include displayImg();
/// }
///@param {string} $width [inherit] -ancho de la imagen
///@param {string} $height [inherit] -alto de la imagen
///@param {string} $object-fit [fill] -object-fit de la imagen
/// @param {string} $display [flex] -display de la imagen
@mixin displayImg($width: inherit, $height: inherit, $object-fit: fill, $display: flex) {
    width: inherit;
    height: inherit;
    object-fit: fill;
    display: flex;
}

/*darle estilo al logo de la pagina*/
///mixin de estilo al logo de la pagina
/// @example
/// &-logo {
///     span {
///       font-size: size(mmd);
///       font-weight: weight(bold);
///       color: color(resaltado);
///    }
/// }
/// @param {string} $font-size [size(mmd)] -tamaño de la letra
/// @param {string} $font-weight [weight(bold)] -peso de la letra
/// @param {string} $color [color(resaltado)] -color de la letra
@mixin logo($font-size: size(mdd), $font-weight: weight(bold), $color: color(resaltado)) {
    span {
        text-transform: uppercase;
        font-size: $font-size;
        font-weight: $font-weight;
        color: $color;
    }
}

/*placeholder para añadir animacion de shake*/
///mixin añadir animacion de shake
///@example
/// .alert{
///    @extend %shake;
/// }

%shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
  }