#coincidencias {
    width: 95vw;
    margin: 0 auto;
    h2{
        height: min-content;
        margin-bottom: 2rem;
    }
    .notFound{
        width: 90%;
        margin: 0 auto;
        height: 50vh;
        margin-top: 10vh;
        @include flexposition(column);
    }
    h3{
        margin-bottom: 2rem;
    }
    .resultadoBusqueda{
        width: 70%;
        max-width: 50rem;
        margin-left:10%;
        @include responsive(large)
        {
            justify-self: center;
            width: 70%;
            margin-left:0;
        }
        @include responsive(small)
        {
            margin-left: 0;
            width: 100%;
        }
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        @include flexposition(column);
        .coincidencia{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            &:hover{
                cursor: pointer;
                transform: scale(1.01);
                color: color(resaltado-claro);
                
            }

            width: 95%;
            @include flexposition();
            background-color: color(fondo-oscuro);
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            color: color(texto-claro);
            justify-content: flex-start;
            &-imagen{
                width: 5rem;
                height: 5rem;
                margin-right: 1rem; 
                img{
                    width: inherit;
                    height: inherit;
                    border-radius: 50%;
                }
            }
        }
    }
}