///Layout de la sección de géneros
.directorio{
    
    grid-column: 2/-2;
    grid-row: 2/3;

    .genero {
        @include gridposition(minmax(1fr, 20rem), repeat(auto-fill, minmax(13rem, 1fr)), 2rem);
        margin-bottom: 5rem;
    }
}
