///Layout de la sección del menu
.menu {
    grid-row: 2/3;
    grid-column: 1/-1;

    @include gridposition(repeat(4, minmax(min-content, 10rem)), minmax(1rem, 85rem), 3rem);

    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            justify-content: center;
            align-items: center;
            margin:0.5rem;
            grid-column: 1/-1;
            grid-row: #{$i}/#{$i + 1};
            h1{
                margin-bottom: 4rem;
                text-align: center;
            }
        }
        .section-1 {
            margin-bottom: 5rem;
        }
    }
}