///Componente Boton
.customBtn {  
  border: 2px solid color(resaltado) !important;
  height: 3em !important;
  align-self:center !important;
  padding: 0 1em!important;
  align-content: center !important;
  justify-content: center !important;
  font-weight: weight(bold) !important;
  &:hover {
    color: color(resaltado) !important;
  }
  &:active {
    color: color(resaltado-aux) !important;
  }
  
  &-destacado{
    background-color: color(resaltado) !important;
    color: #fff !important;
    &:hover {
      box-shadow: 0 0 0 color(fondo-claro) !important;
      background-color: darken(color(resaltado), 5%) !important;
    }
    &:active {
      box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, .2) !important;
    }
  }
  &-slide {
    border-color: color(resaltado) !important;
    color: color(texto-claro-aux) !important;
    
    &:hover {
      box-shadow: inset 10em 0 0 0 color(resaltado) !important;
      color: #fff !important;
      transition: .6s !important;
    }

    &:active {
      box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, .2) !important;
      color: color(texto-oscuro) !important;
    }
  }
  
  &-signup{
    width: 100% !important;
    background-color: white !important;
    border: 2px solid color(resaltado) !important;
    color: color(texto-oscuro) !important;
    font-weight: weight(bold) !important;
    &:hover {
      color: color(resaltado) !important;
    }
    &:active {
      color: color(resaltado-aux) !important;
    }
  }	
  &-collapse{
    @include responsive(small) {
      display: block;
    }
    border: none;
    display:none;
    background-color: transparent !important;
  }
  
  &-acordeon{
    width: 100% !important;
    &:hover {
      color: color(resaltado-aux) !important;
    }
    &:not(.collapsed){
      color:color(resaltado-aux) !important;

    } 
  }
  &-entradas{
    border: none;
    font-size: size(mdd);
    height: 100%;
    width: 100%;
    &:hover {
      color: color(resaltado);
    }
  }
  &-home{
    border: none;
    font-size: size(mdd)!important;
    color: color(texto-claro)!important;
    border-radius: 10px;
    width: min-content;
    height: min-content;
    background-color:color(resaltado-aux)!important;
    &:hover {
      background-color: color(fondo-claro)!important;
      color: color(resaltado)!important;
    }
    &:focus{
      background-color: color(fondo-claro)!important;
      color: color(resaltado)!important;
    }
    &:active {
      background-color: white!important;
      color: color(resaltado)!important;
    }
  }
}
